$red: #f56a76;
$white: #ffffff;
$yellow: #FCE190;
$lightgrey: #F5F6FA;
$grey: #50576b;
$darkgrey: #333333;
$lightyellow: #fdeba9;
$ash :#687176;
$black: #515151;
$lightash: #DEE3EA;
$lightblack : #333333;
$darkash: #8E8E8E;
$bold: #E6E8EF;
$lightpurple: #a4acbb;
$darkblack : #222222;
$matgrey: #515151;
$lightviolet: #f2f3f6;
$silver:  #747474;

